@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.insta {
  gap: 10px;
  width: 95%;
  height: 90%;
  margin: auto;
  padding: 1.5rem 0;

  &__link {
    text-decoration: none; /* Remove underline from links */
    width: calc(calc(100% - 1.5rem) / 3);

    height: calc(50% - 0.5rem);
    position: relative;
  }
  &__image-container {
    overflow: hidden;
    position: relative; /* Required for absolute positioning of the image */
    height: 100%;
    border: 1px solid $darkest-colour;
    display: block;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    // border-radius: 10px;
    width: 100%;
    height: 101%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: transparent;
    &:hover {
      z-index: 2;
      background-color: $transparent-colour-2;
      color: $white;
    }
  }
  &__title {
    font-size: $size-sub;
    text-align: center;
    display: block;
  }
}
