@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.films {
  &__grid {
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 3) - 10px), 1fr)
    );
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  &__item {
    // background: grey;
    position: relative;
    display: flex;
    &:before {
      content: "";
      display: block;
      height: 0;
      width: 0;
      padding-bottom: calc(9 / 16 * 100%);
    }
  }
  &__grid li:nth-child(3n + 2),
  &__grid li:nth-child(3n + 3) {
    @include tablet {
      //   border: red 2px solid;
      grid-column: span 1;
      grid-row: span 1;
    }
  }
  &__grid li:nth-child(n) {
    @include mobile-only {
      //   border: green 2px solid;
      grid-column: span 3;
      grid-row: span 3;
    }
  }
  &__grid li:nth-child(4n + 1) {
    @include tablet-only {
      //   border: green 2px solid;
      grid-column: span 3;
      grid-row: span 3;
    }
  }

  &__grid li:nth-child(6n + 1),
  &__grid li:nth-child(6n + 5) {
    @include desktop {
      //   border: blue 2px solid;
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  &__link,
  &__image,
  &__image-container {
    width: 100%;
    height: 100%;
  }
  &__image-container {
    overflow: hidden;
  }
  &__image {
    object-fit: cover;
    object-position: center;
    display: block;
    // filter: grayscale(1);
    // transition: filter 0.5s;
    // &:hover {
    //   filter: grayscale(0);
    // }
  }
  &__overlay {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: transparent;
    &:hover {
      z-index: 2;
      background-color: $transparent-colour;
      color: white;
    }
    &__title {
      font-size: $size-sub;
      text-align: center;
    }
  }
}
