@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.films {
  // margin-top: 4.5rem;
  background-color: $white;
  @include desktop {
    width: 90%;
    margin: auto;
  }
  &__grid {
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 3) - 10px), 1fr)
    );
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  &__item {
    position: relative;
    display: flex;
    &:before {
      content: "";
      display: block;
      height: 0;
      width: 0;
      padding-bottom: calc(9 / 16 * 100%);
    }
  }

  &__grid li:nth-child(3n + 2),
  &__grid li:nth-child(3n + 3) {
    @include tablet {
      //   border: red 2px solid;
      grid-column: span 1;
      grid-row: span 1;
    }
  }
  &__grid li:nth-child(n) {
    @include mobile-only {
      //   border: green 2px solid;

      grid-column: span 3;
      grid-row: span 3;
    }
  }
  &__grid li:nth-child(4n + 1) {
    @include mobile-and-tablet {
      //   border: green 2px solid;
      grid-column: span 3;
      grid-row: span 3;
    }
  }

  &__grid li:nth-child(6n + 1),
  &__grid li:nth-child(6n + 5) {
    @include desktop {
      //   border: blue 2px solid;
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  &__link,
  &__image,
  &__image-container {
    width: 100%;
    height: 100%;
  }

  // fade in delay start
  &__grid li:nth-child(n).films__item--alt .films__image-container {
    @include tablet {
      @include fade(0.25s);
    }
  }
  &__grid li:nth-child(1).films__item--alt .films__image-container {
    @include desktop {
      @include fadeLeft;
    }
  }

  &__grid li:nth-child(2).films__item--alt .films__image-container {
    animation-delay: 0.5s;
  }
  &__grid li:nth-child(3).films__item--alt .films__image-container {
    @include tablet {
      animation-delay: 0.75s;
    }
  }
  &__grid li:nth-child(4).films__item--alt .films__image-container {
    @include tablet {
      animation-delay: 1s;
    }
  }
  &__grid li:nth-child(5).films__item--alt .films__image-container {
    @include tablet {
      animation-delay: 1.5s;
    }
    @include desktop {
      @include fadeRight;
    }
  }
  &__grid li:nth-child(6).films__item--alt .films__image-container {
    @include tablet {
      animation-delay: 1.25s;
    }
    // @include desktop {
    //   @include fadeRight;
    // }
  }
  // fade in delay end

  &__grid li:nth-child(n).inView .films__image-container {
    @include fade(0.25s);
    animation-delay: 0.25s;
    @include mobile-only {
      @include fadeBottom;
    }
  }
  // fadein on scroll from left animation
  &__grid li:nth-child(6n + 1).inView .films__image-container {
    @include desktop {
      @include fadeLeft;
    }
  }
  // fadein on scroll from right animation
  &__grid li:nth-child(6n + 5).inView .films__image-container {
    @include desktop {
      @include fadeRight;
    }
  }
  &__grid li:nth-child(5).films__item--alt .films__image-container {
    @include tablet {
      animation-delay: 1s;
    }
  }

  &__image-container {
    overflow: hidden;
    position: relative;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    display: block;
    // filter: grayscale(1);

    transition: transform 0.25s;
    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      transform: scale(1.1);
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease, color 0.25s ease;
    color: transparent;
    &:hover {
      z-index: 2;
      background-color: $transparent-colour-2;
      color: $white;
    }
    @include mobile-only {
      color: $white;
      align-items: flex-end;
      justify-content: flex-start;

      &::before {
        background-color: $transparent-colour-2;
        opacity: 0;
        z-index: 3;
      }
      &::after {
        content: "";

        display: block;
        height: 0;
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 1;
        @include gradient;
      }
    }
  }
  &__title {
    font-size: $size-sub;
    text-align: center;
    @include mobile-only {
      font-size: $size-header;
      position: relative;
      font-weight: 500;
      z-index: 4;
      padding: 0rem 1rem;
      text-align: left;
    }
  }
}
