@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.grid {
  @include desktop {
    // padding-top: 0.5rem; MAXIMISING SPACE
    // width: 90%;
  }

  width: 100%;
  height: 100%;
  margin: auto;
  @include mobile-and-tablet {
    // background-color: $white;
  }
  &__undercolour {
    position: absolute;
    z-index: -1;

    height: 60%;
    width: 50%;
    @include stripedBackground;
    @include mobile-and-tablet {
      width: 100%;
    }
    &--user {
      top: 0;
      right: 0;
    }
    &--film {
      top: 0;
      left: 0;
    }
    &--two {
      @include dottedBackground;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 50%;
      z-index: -1;
      &--user {
        left: 0;
      }
      @include mobile-and-tablet {
        height: 35%;
        width: 100%;
      }
    }
    .header.fixedToTop + .app__main > .film > .grid &--film,
    .header.fixedToTop + .app__main > .film > .grid &--user {
      height: 50%;
      @include desktop {
        height: 55%;
      }
    }
  }

  &__list {
    // border: red 2px solid;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 10) - 15px), 1fr)
    );
    grid-template-rows: 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
  &__list--about {
    grid-template-rows: repeat(auto-fit, minmax(calc((100% / 10) - 15px), 1fr));
  }
  &__list--film {
    margin-top: 0.75rem;
    column-gap: 12.5px;
    row-gap: 12.5px;
  }
  //   padding bottom controls the vertical stretch of the item
  &__item {
    // background-color: $white;
    position: relative;
    display: flex;

    &:before {
      content: "";
      display: block;
      height: 0;
      width: 0;
      padding-bottom: calc(5 / 16 * 100%);
    }
    &--film:before {
      padding-bottom: calc(9 / 16 * 100%);
    }
    &--details:before {
      @include desktop {
        padding-bottom: 0;
      }
    }

    &--about:before {
      // controls the height of everything
      padding-bottom: 65%;
      @include tablet-only {
        padding-bottom: calc(9 / 16 * 100%);
      }
    }
    &--carousel {
      z-index: 1;
      &:before {
        @include mobile-and-tablet {
          padding-bottom: calc(12 / 16 * 100%);
        }
      }
    }
  }
  &__list .grid__item:nth-child(n) {
    @include mobile-and-tablet {
      @include fadeBottom;
    }
  }
  &__list .grid__item:nth-child(1) {
    grid-column: span 10;
    // border: green 2px solid;
    @include desktop {
      @include fadeLeft;
      grid-column: span 6;
      grid-row: span 1;
      // box-shadow: -15px -10px 0px 0px $bg-dark;
    }
  }

  &__list .grid__item:nth-child(2) {
    grid-column: span 10;
    // border: pink 2px solid;
    @include mobile-and-tablet {
      order: 4;
      @include fadeTop;
    }
    @include desktop {
      @include fadeTop;
      animation-delay: 1.25s;
      grid-column: span 4;
      grid-row: span 1;
    }
  }
  &__list .grid__item:nth-child(3),
  &__list .grid__item:nth-child(4) {
    @include mobile-and-tablet {
      // width: 80%;
      width: 100%;
      grid-column: span 5;
    }
  }
  &__list .grid__item:nth-child(3) {
    // grid-column: span 5;
    // grid-column: span 10;
    @include mobile-and-tablet {
      // border: 2px solid $darkest-colour;
      // border-bottom: 5px solid $darkest-colour;
      // border-left: 5px solid $darkest-colour;
      @include fadeLeft;
      animation-delay: 0.75s;
      margin-left: auto;
      order: 1;
    }
    @include desktop {
      border-right: 0;
      @include fadeBottom;
      animation-delay: 1.25s;
      grid-column: span 4;
      grid-row: span 1;
    }
  }

  &__list .grid__item:nth-child(4) {
    // THE COMMENTED OUT CODE IS FOR THE WIDTH BEING 80% VS 50%
    // grid-column: span 10;
    // grid-column: span 5;
    @include mobile-and-tablet {
      border: 3px solid $hover-colour;
    }

    @include fadeRight;
    animation-delay: 1s;

    @include desktop {
      @include fadeRight;
      grid-column: span 6;
      grid-row: span 1;
      padding-bottom: 0;
      // box-shadow: 10px 10px 0px 0px $hover-colour;
    }
  }
  &__list--about .grid__item:nth-child(n) {
    // background-color: yellow;
    @include desktop {
      grid-column: span 5;
    }
  }
  &__list--about .grid__item:nth-child(1) {
    @include tablet-only {
      &:after {
        padding-bottom: 50%;
      }
    }
    z-index: 1;
    @include desktop {
      order: 3;
      // box-shadow: -15px 15px 0px 0px $bg-dark;

      @include fadeBottom;
      animation-delay: 0.5s;
      grid-row: span 8;
    }
  }
  &__list--about .grid__item:nth-child(2) {
    // z-index: 1;
    @include desktop {
      border: 3px solid $hover-colour;
      // box-shadow: 10px -10px 0px 0px $hover-colour;

      order: 2;
      animation-delay: 0.5s;
      grid-row: span 7;
    }
  }
  &__list--about .grid__item:nth-child(3),
  &__list--about .grid__item:nth-child(4) {
    @include mobile-and-tablet {
      // width: 80%;
      width: 100%;
      // grid-column: span 10;
      // grid-row:
    }
  }
  &__list--about .grid__item:nth-child(3) {
    // border: yellow 2px solid;
    @include fadeLeft;
    animation-delay: 1s;
    order: 2;
    @include desktop {
      animation-delay: 1.25s;

      order: 1;
      grid-row: span 2;
    }
  }
  &__list--about .grid__item:nth-child(4) {
    // @include fadeRight;
    // animation-delay: 0.75s;
    // border: yellow 2px solid;
    order: 1;
    @include desktop {
      box-shadow: none;
      animation-delay: 1.25s;
      border: none;
      order: 4;
      grid-row: span 3;
    }
  }
}
