@use "./variables.scss" as *;

@mixin mobile-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tablet-only {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin desktopLarge {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin screenWidth {
  width: 95%;
  margin: auto;
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 85%;
  }
  @include desktopLarge {
    width: 75%;
  }
}

@mixin line($bottom) {
  position: relative;
  text-decoration: none;
  &::after {
    bottom: $bottom;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    background-color: $hover-colour;
    width: 100%;
    // @include mobile-only {
    //   background-color: $white;
    // }
  }
}

@mixin underline($bottom) {
  @include line($bottom);

  &::after {
    background-color: transparent;
    transition: background-color 0.5s, width 0.5s, font-weight 0.5s ease-in-out;
    width: 0%;
  }
  &:hover::after {
    font-weight: 800;
    width: 100%;

    background-color: $hover-colour;
    // @include mobile-only {
    //   background-color: $white;
    // }
  }
}

@mixin pulse($r, $g, $b) {
  animation: pulse 2s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($r, $g, $b, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba($r, $g, $b, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($r, $g, $b, 0);
    }
  }
}

@mixin modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}
@mixin fullscreenModal {
  @include modal;
  width: 100%;
  height: 100%;
}

@mixin fade($duration) {
  opacity: 0;
  animation: fade #{$duration} ease-in both;
  animation-delay: 0.25s;
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin move($duration, $x, $y, $xx, $yy) {
  animation: move #{$duration} ease-in both;
  @keyframes move {
    from {
      transform: translate($x, $y);
    }
    to {
      transform: translate($xx, $yy);
    }
  }
}

@mixin fadeAndMove($duration, $x: 0, $y: 0, $xx: 0, $yy: 0) {
  @keyframes move {
    from {
      transform: translate($x, $y);
      opacity: 0;
    }
    to {
      transform: translate($xx, $yy);
      opacity: 1;
    }
  }
  animation: move #{$duration} ease-in both;
}

@keyframes fromRight {
  from {
    transform: translate(2.5%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@mixin fadeRight {
  animation: fromRight 0.25s ease-in both;
  animation-delay: 0.25s;
}

@keyframes fromLeft {
  from {
    transform: translate(-2.5%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromTop {
  from {
    transform: translate(0, -7.5%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    transform: translate(0, 7.5%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@mixin fadeLeft {
  animation: fromLeft 0.25s ease-in both;
  animation-delay: 0.25s;
}
@mixin fadeBottom {
  animation: fromBottom 0.5s ease-in both;
}
@mixin fadeTop {
  animation: fromTop 0.5s ease-in both;
}

@mixin carouselTitle {
  // font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 1.5em;
  position: absolute;
  top: -1.5rem;
  // @include desktop {
  //   top: -1.5rem;
  // }
  text-align: center;
  color: $hover-colour;
}

@mixin slantedBorder($percent, $px, $colour, $right, $top) {
  position: relative;
  border: $px solid $colour;
  &:after,
  &:before {
    content: "";
    position: absolute;

    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: $white;
    z-index: 0;
  }
  &:after {
    content: "";

    left: calc($percent - 3px);
    bottom: calc($percent - 6px);
  }
  &:before {
    content: "";

    right: $right;
    top: $top;
  }
}

// COLOUR SPECIFIC
@mixin stripedBackground($deg) {
  background: repeating-linear-gradient(
    $deg,
    $white,
    $white 30px,
    $transparent-colour-2 3px,
    $transparent-colour-2 33px
  );
}

// @mixin filterWhiteToColour {
//   filter: brightness(0) saturate(100%) invert(83%) sepia(71%) saturate(444%)
//     hue-rotate(30deg) brightness(101%) contrast(101%);
// }

// @mixin gradient {
//   // darkest colour rgb
//   background-image: linear-gradient(
//     180deg,
//     rgba(65, 117, 7, 0) 45%,
//     rgba(65, 117, 7, 0.01) 48%,
//     rgba(65, 117, 7, 0.04) 50%,
//     rgba(65, 117, 7, 0.08) 53%,
//     rgba(65, 117, 7, 0.13) 57%,
//     rgba(65, 117, 7, 0.2) 61%,
//     rgba(65, 117, 7, 0.28) 65%,
//     rgba(65, 117, 7, 0.37) 69%,
//     rgba(65, 117, 7, 0.46) 73%,
//     rgba(65, 117, 7, 0.55) 77%,
//     rgba(65, 117, 7, 0.64) 88%,
//     rgba(65, 117, 7, 0.74) 91%,
//     rgba(65, 117, 7, 0.83) 95%,
//     rgba(65, 117, 7, 0.9) 97%,
//     rgba(65, 117, 7, 0.95) 98%
//   );
// }

// @mixin dottedBackground {
//   --dot-bg: black;
//   --dot-color: rgb(170, 255, 76);
//   // hover colour
//   --dot-size: 3px;
//   --dot-space: 50px;
//   background: linear-gradient(
//         90deg,
//         var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
//         transparent 1%
//       )
//       center / var(--dot-space) var(--dot-space),
//     linear-gradient(
//         var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
//         transparent 1%
//       )
//       center / var(--dot-space) var(--dot-space),
//     var(--dot-color);
// }

@mixin filterWhiteToColour {
  filter: brightness(0) saturate(100%) invert(22%) sepia(98%) saturate(7492%)
    hue-rotate(321deg) brightness(106%) contrast(104%);
}

// @mixin gradient {
//   // darkest colour rgb
//   background-image: linear-gradient(
//     180deg,
//     rgba(255, 255, 255, 0) 45%,
//     rgba(255, 255, 255, 0.01) 48%,
//     rgba(255, 255, 255, 0.04) 50%,
//     rgba(255, 255, 255, 0.08) 53%,
//     rgba(255, 255, 255, 0.13) 57%,
//     rgba(255, 255, 255, 0.2) 61%,
//     rgba(255, 255, 255, 0.28) 65%,
//     rgba(255, 255, 255, 0.37) 69%,
//     rgba(255, 255, 255, 0.46) 73%,
//     rgba(255, 255, 255, 0.55) 77%,
//     rgba(255, 255, 255, 0.64) 88%,
//     rgba(255, 255, 255, 0.74) 91%,
//     rgba(255, 255, 255, 0.83) 95%,
//     rgba(255, 255, 255, 0.9) 99%,
//     rgba(255, 255, 255, 0.95) 100%
//   );
// }

@mixin gradient {
  // darkest colour rgb
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.01) 48%,
    rgba(255, 255, 255, 0.04) 50%,
    rgba(255, 255, 255, 0.08) 53%,
    rgba(255, 255, 255, 0.13) 57%,
    rgba(255, 255, 255, 0.2) 61%,
    rgba(255, 255, 255, 0.28) 65%,
    rgba(255, 255, 255, 0.37) 69%,
    rgba(255, 255, 255, 0.46) 73%,
    rgba(255, 255, 255, 0.5) 77%,
    rgba(255, 255, 255, 0.59) 88%,
    rgba(255, 255, 255, 0.69) 91%,
    rgba(255, 255, 255, 0.78) 95%,
    rgba(255, 255, 255, 0.85) 99%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

@mixin dottedBackground($size, $space) {
  --dot-bg: white;
  --dot-color: rgb(255, 136, 201);
  // hover colour
  --dot-size: #{$size}px;
  --dot-space: #{$space}px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

@mixin logoBackground {
  background-image: url("../../assets/images/background.png");
  background-size: 50%;
  // z-index: -10;
  // filter: brightness(0.6);
}
