@use "./variables.scss" as *;

@mixin mobile-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tablet-only {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin desktopLarge {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin screenWidth {
  width: 95%;
  margin: auto;
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 85%;
  }
  @include desktopLarge {
    width: 75%;
  }
}

@mixin line($bottom) {
  position: relative;
  text-decoration: none;
  &::after {
    bottom: $bottom;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    background-color: $hover-colour;
    width: 100%;
  }
}

@mixin underline($bottom) {
  @include line($bottom);

  &::after {
    background-color: transparent;
    transition: background-color 0.5s, width 0.5s, font-weight 0.5s ease-in-out;
    width: 0%;
  }
  &:hover::after {
    font-weight: 800;
    width: 100%;
    background-color: $hover-colour;
  }
}

@mixin modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}
@mixin fullscreenModal {
  @include modal;
  width: 100%;
  height: 100%;
}

@mixin fade($duration) {
  opacity: 0;
  animation: fade #{$duration} ease-in both;
  animation-delay: 0.25s;
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin move($duration, $x, $y, $xx, $yy) {
  animation: move #{$duration} ease-in both;
  @keyframes move {
    from {
      transform: translate($x, $y);
    }
    to {
      transform: translate($xx, $yy);
    }
  }
}

@mixin fadeAndMove($duration, $x: 0, $y: 0, $xx: 0, $yy: 0) {
  @keyframes move {
    from {
      transform: translate($x, $y);
      opacity: 0;
    }
    to {
      transform: translate($xx, $yy);
      opacity: 1;
    }
  }
  animation: move #{$duration} ease-in both;
}

@keyframes fromRight {
  from {
    transform: translate(2.5%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@mixin fadeRight {
  animation: fromRight 0.25s ease-in both;
  animation-delay: 0.25s;
}

@keyframes fromLeft {
  from {
    transform: translate(-2.5%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromTop {
  from {
    transform: translate(0, -7.5%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    transform: translate(0, 7.5%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@mixin fadeLeft {
  animation: fromLeft 0.25s ease-in both;
  animation-delay: 0.25s;
}
@mixin fadeBottom {
  animation: fromBottom 0.5s ease-in both;
}
@mixin fadeTop {
  animation: fromTop 0.5s ease-in both;
}

@mixin carouselTitle {
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 1.5em;
  position: absolute;
  top: -1.5rem;
  text-align: center;
  color: $hover-colour;
}

// COLOUR SPECIFIC
@mixin stripedBackground($deg) {
  background: repeating-linear-gradient(
    $deg,
    $white,
    $white 30px,
    $transparent-colour-2 3px,
    $transparent-colour-2 33px
  );
}

@mixin filterWhiteToColour {
  filter: brightness(0) saturate(100%) invert(22%) sepia(98%) saturate(7492%)
    hue-rotate(321deg) brightness(106%) contrast(104%);
}

@mixin gradient {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.01) 47%,
    rgba(255, 255, 255, 0.02) 49%,
    rgba(255, 255, 255, 0.04) 51%,
    rgba(255, 255, 255, 0.06) 53%,
    rgba(255, 255, 255, 0.08) 55%,
    rgba(255, 255, 255, 0.1) 57%,
    rgba(255, 255, 255, 0.12) 59%,
    rgba(255, 255, 255, 0.14) 61%,
    rgba(255, 255, 255, 0.16) 63%,
    rgba(255, 255, 255, 0.18) 65%,
    rgba(255, 255, 255, 0.2) 67%,
    rgba(255, 255, 255, 0.22) 69%,
    rgba(255, 255, 255, 0.24) 71%,
    rgba(255, 255, 255, 0.26) 73%,
    rgba(255, 255, 255, 0.28) 75%,
    rgba(255, 255, 255, 0.3) 77%,
    rgba(255, 255, 255, 0.32) 79%,
    rgba(255, 255, 255, 0.34) 81%,
    rgba(255, 255, 255, 0.36) 83%,
    rgba(255, 255, 255, 0.38) 85%,
    rgba(255, 255, 255, 0.4) 87%,
    rgba(255, 255, 255, 0.42) 89%,
    rgba(255, 255, 255, 0.44) 91%,
    rgba(255, 255, 255, 0.46) 93%,
    rgba(255, 255, 255, 0.48) 95%,
    rgba(255, 255, 255, 0.5) 97%,
    rgba(255, 255, 255, 0.52) 99%,
    rgba(255, 255, 255, 0.54) 100%
  );
}

@mixin dottedBackground($size, $space) {
  --dot-bg: white;
  --dot-color: rgb(255, 136, 201);

  --dot-size: #{$size}px;
  --dot-space: #{$space}px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

@mixin logoBackground {
  background-image: url("../../assets/images/background.png");
  background-size: 50%;
}
