@use "./variables.scss" as *;

@mixin mobile-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin tablet-only {
  @media (min-width: 768px) {
    @content;
  }
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin desktopLarge {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin screenWidth {
  width: 95%;
  margin: auto;
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 85%;
  }
}

@mixin line($bottom) {
  position: relative;
  text-decoration: none;
  &::after {
    bottom: $bottom;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    background-color: $hover-colour;
    width: 100%;
  }
}

@mixin underline($bottom) {
  @include line($bottom);

  &::after {
    background-color: transparent;
    transition: background-color 0.5s, width 0.5s, font-weight 0.5s ease-in-out;
    width: 0%;
  }
  &:hover::after {
    font-weight: 800;
    width: 100%;
    background-color: $hover-colour;
  }
}

@mixin pulse($r, $g, $b) {
  animation: pulse 2s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($r, $g, $b, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba($r, $g, $b, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($r, $g, $b, 0);
    }
  }
}

@mixin modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}
@mixin fullscreenModal {
  @include modal;
  width: 100%;
  height: 100%;
}

@mixin fade($duration) {
  opacity: 0;
  animation: fade #{$duration} ease-in both;
  animation-delay: 0.25s;
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin move($duration, $x, $y, $xx, $yy) {
  animation: move #{$duration} ease-in both;
  @keyframes move {
    from {
      transform: translate($x, $y);
    }
    to {
      transform: translate($xx, $yy);
    }
  }
}

@mixin fadeAndMove($duration, $x: 0, $y: 0, $xx: 0, $yy: 0) {
  @keyframes move {
    from {
      transform: translate($x, $y);
      opacity: 0;
    }
    to {
      transform: translate($xx, $yy);
      opacity: 1;
    }
  }
  animation: move #{$duration} ease-in both;
}

@keyframes fromRight {
  from {
    transform: translate(2%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@mixin fadeRight {
  animation: fromRight 0.5s ease-in both;
  animation-delay: 0.25s;
}

@keyframes fromLeft {
  from {
    transform: translate(-2%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromTop {
  from {
    transform: translate(0, -5%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    transform: translate(0, 5%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@mixin fadeLeft {
  animation: fromLeft 0.5s ease-in both;
  animation-delay: 0.25s;
}
@mixin fadeBottom {
  animation: fromBottom 0.5s ease-in both;
}
@mixin fadeTop {
  animation: fromTop 0.5s ease-in both;
}

@mixin filterWhiteToColour {
  filter: brightness(0) saturate(100%) invert(15%) sepia(76%) saturate(4578%)
    hue-rotate(333deg) brightness(86%) contrast(91%);
}
