$bg-light: rgb(255, 240, 243);
$bg-dark: rgb(255, 204, 213);
$button-colour: #ff8fa3;
$hover-colour: rgb(201, 24, 74);
$transparent-colour: rgba(255, 143, 164, 0.518);
$darkest-colour: rgb(89, 13, 34);
$transparent-colour-2: rgba(201, 24, 74, 0.49);
$white: white;
$black: black;

// COLOUR SCHEME 2
// $bg-light: #fff0f3;
// $bg-dark: #ffccd5;
// $button-colour: #ff8fa3;
// $hover-colour: #c9184a;
// $transparent-colour: #ff8fa484;
// $darkest-colour: #590d22;
// $transparent-colour-2: #c9184a7d;

$size-text: 0.8rem;
$size-header: 1.6rem;
$size-sub: 1.25rem;

$shadow: 15px 15px 0px 0px $bg-light;
$shadow-2: -5px -5px 0px 0px $bg-dark;
