$bg-light: rgb(255, 240, 243);
$bg-dark: rgb(255, 204, 213);
$button-colour: #f3778e;
$hover-colour: rgb(201, 24, 74);
$transparent-colour: rgba(255, 143, 164, 0.518);
$darkest-colour: rgb(89, 13, 34);
$transparent-colour-2: rgba(201, 24, 74, 0.49);
$white: white;
$black: black;

// COLOUR SCHEME 2
// $bg-light: #1e1e1e;
// $bg-dark: rgb(170, 204, 213);
// $button-colour: rgb(99, 168, 20);
// $hover-colour: rgb(154, 243, 53);
// $transparent-colour: rgb(99, 168, 20, 0.5);
// $darkest-colour: rgb(65, 117, 7);
// $transparent-colour-2: rgb(170, 255, 76, 0.5);
// $white: black;
// $black: white;

$size-text: 0.8rem;
$size-header: 1.6rem;
$size-sub: 1.25rem;

$shadow: 15px 15px 0px 0px $bg-light;
$shadow-2: -5px -5px 0px 0px $bg-dark;
