@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.nomination {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &__awards {
    @include carouselTitle;
    top: -1rem;
    width: calc(100% - 2rem);
    text-align: center;
  }

  // &:hover {
  //   // filter: none;
  //   // background: linear-gradient(
  //   //     217deg,
  //   //     $button-colour,
  //   //     rgba(255, 0, 0, 0) 70.71%
  //   //   ),
  //   //   linear-gradient(127deg, $bg-light, rgba(0, 255, 0, 0) 80%),
  //   //   linear-gradient(336deg, $hover-colour, rgba(0, 0, 255, 0) 50%);
  // }
  &__image-container,
  &__subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
  }
  &__image {
    max-height: 3.75rem;
    max-width: calc(5rem + 5%);
    transition: transform 0.5s;
    display: block;
    @include mobile-and-tablet {
      max-width: calc(6rem + 5%);

      max-height: calc(4.5rem + 5%);
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    padding: 1rem 0;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    &--alt {
      width: 100%;
      padding: 0 0.5rem;
    }
  }
  &__subtext {
    margin: 0.5rem 0;
  }
  &__category {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 500;
    @include mobile-and-tablet {
      font-size: calc(0.9rem + 5%);
    }
  }
  &__result {
    margin: 0.5rem 0;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  &__text {
    justify-content: center;
    max-width: 95%;
    flex: 1;
    font-size: calc($size-text + 1%);
    // @include mobile-and-tablet {
    //   font-size: 0.5rem;
    // }
  }
}
