@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
  height: 100%;
  // overflow: scroll;
  overflow-wrap: break-word;

  &::-webkit-scrollbar {
    display: none;
  }
  &--film {
    @include mobile-and-tablet {
      background-color: $hover-colour;
      // color: $hover-colour;
      color: $white;
    }
  }
  @include desktop {
    color: $black;
    -webkit-text-stroke-width: 1px;

    color: $hover-colour;
    -webkit-text-stroke-color: $hover-colour;
  }
  &__title {
    margin: 0;
    // EDIT
    // text-align: right;
    text-align: left;
    &--user {
      text-align: right;
    }
    // END EDIT

    // background-color: $white;
    @include mobile-and-tablet {
      text-align: left;
      padding-left: 0.25rem;
    }
    @include mobile-only {
      font-size: 9vw;
    }
    @include tablet {
      font-size: 8.5vw;
    }
    @include desktop {
      // font-size: 4.5rem;
      font-size: 4.1vw;
    }
    @include desktopLarge {
      font-size: 5.5rem;
    }
    &--short {
      @include mobile-only {
        font-size: 10.5vw;
      }
      @include tablet {
        font-size: 4.5rem;
      }
      @include desktop {
        font-size: 5rem;
      }
      @include desktopLarge {
        font-size: 6rem;
      }
    }
    &--long {
      @include mobile-only {
        font-size: 9.5vw;
      }
      @include tablet {
        font-size: 6.5vw;
      }
      @include desktop {
        // font-size: 4.5rem;
        font-size: 5.2vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
    &--extra-long {
      @include mobile-only {
        font-size: 7.9vw;
      }
      @include tablet {
        font-size: 7.4vw;
      }
      @include desktop {
        font-size: 4.8vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
    &--extra-long--2 {
      @include mobile-only {
        font-size: 7.25vw;
      }
      @include tablet {
        font-size: 6.9vw;
      }
      @include desktop {
        font-size: 3.9vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
  }
  &--user {
    @include mobile-only {
      align-items: center;
      justify-content: flex-start;
    }
    @include mobile-and-tablet {
      // background-color: none;
      // color: $hover-colour;
      color: $white;
      background-color: $hover-colour;
      border: 3px solid $hover-colour;
      padding: 0 0.25rem;
    }
    @include desktop {
      justify-content: flex-end;
    }
  }
  &__title--user {
    @include mobile-only {
      font-size: 10.5vw;
    }
    @include tablet-only {
      font-size: 10vw;
    }
    @include mobile-and-tablet {
      // text-align: right;
    }
  }
  &__longword {
    @include mobile-only {
      // font-size: calc(70%);
    }
  }
  &__Greatest {
    @include desktop {
      font-size: 4.1vw;
    }
  }
  &__in {
    @include mobile-only {
      font-size: 8.2vw;
      & .title__firstWord--film {
        font-size: 90%;
        & + span {
          display: block;
        }
      }
      & .title__longword {
        font-size: 90%;
      }
    }
    @include desktop {
      font-size: 5.5vw;
    }
  }

  &__Lee {
    @include mobile-only {
      font-size: 8.5vw;
    }
  }
  &__Guthrie {
    @include mobile-only {
      font-size: 6.5vw;
    }
  }
  &__is {
    @include mobile-only {
      font-size: 8.5vw;
    }
    @include desktop {
      font-size: 6vw;
    }
  }
  &__Real {
    @include mobile-only {
      & .title__longword {
        font-size: 80%;
      }
      & .title__firstWord--film {
        display: block;
      }
    }
  }
  &__A &__firstWord--film {
    @include mobile-only {
      font-size: 75%;
      & + span {
        display: block;
      }
    }
  }
  &__firstWord--user {
    display: block;
  }
  &__undefined {
    @include desktop {
      font-size: 6.5vw;
    }
  }
  &__Not {
    @include desktop {
      font-size: 6.25vw;
    }
  }
}
