@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
  height: 100%;
  // overflow: scroll;
  overflow-wrap: break-word;

  &::-webkit-scrollbar {
    display: none;
  }
  // &--film {
  @include mobile-and-tablet {
    background-color: $hover-colour;
    color: $white;
    // color: $black;
  }
  // }
  @include desktop {
    color: $black;
  }
  &__title {
    margin: 0;
    // EDIT
    // text-align: right;
    text-align: left;
    &--user {
      text-align: right;
    }
    // END EDIT

    // background-color: $white;
    @include mobile-and-tablet {
      text-align: left;
      padding-left: 0.25rem;
    }
    @include mobile-only {
      font-size: 9vw;
    }
    @include tablet {
      font-size: 8.5vw;
    }
    @include desktop {
      // font-size: 4.5rem;
      font-size: 4.1vw;
    }
    @include desktopLarge {
      font-size: 5.5rem;
    }
    &--short {
      @include mobile-only {
        font-size: 10.5vw;
      }
      @include tablet {
        font-size: 4.5rem;
      }
      @include desktop {
        font-size: 5rem;
      }
      @include desktopLarge {
        font-size: 6rem;
      }
    }
    &--long {
      @include mobile-only {
        font-size: 9.5vw;
      }
      @include tablet {
        font-size: 6.5vw;
      }
      @include desktop {
        // font-size: 4.5rem;
        font-size: 5.2vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
    &--extra-long {
      @include mobile-only {
        font-size: 7.9vw;
      }
      @include tablet {
        font-size: 7.4vw;
      }
      @include desktop {
        font-size: 4.4vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
    &--extra-long--2 {
      @include mobile-only {
        font-size: 7.25vw;
      }
      @include tablet {
        font-size: 6.9vw;
      }
      @include desktop {
        font-size: 3.69vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
  }
  &--user {
    @include mobile-only {
      align-items: center;
      justify-content: flex-start;
    }
    @include mobile-and-tablet {
      // background-color: none;
      // color: $black;
      border: 3px solid $hover-colour;
      padding: 0 0.25rem;
    }
    @include desktop {
      justify-content: flex-end;
    }
  }
  &__title--user {
    @include mobile-only {
      font-size: 10.5vw;
    }
    @include tablet-only {
      font-size: 10vw;
    }
    @include mobile-and-tablet {
      // text-align: right;
    }
  }
  &__firstWord--user {
    display: block;
  }
}
