@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 0 0.5rem;
  height: 100%;
  &__title {
    margin: 0;
    text-align: right;

    color: $black;
    background-color: $white;
    @include mobile-and-tablet {
      text-align: left;
      padding-left: 0.25rem;
    }
    @include mobile-only {
      font-size: 8.5vw;
    }
    @include tablet {
      font-size: 7.5vw;
    }
    @include desktop {
      // font-size: 4.5rem;
      font-size: 5.2vw;
    }
    @include desktopLarge {
      font-size: 5.5rem;
    }
    &--short {
      @include mobile-and-tablet {
        font-size: 4.5rem;
      }
      @include desktop {
        font-size: 5rem;
      }
      @include desktopLarge {
        font-size: 6rem;
      }
    }
    &--extra-long {
      @include mobile-only {
        font-size: 7.2vw;
      }
      @include tablet {
        font-size: 6.9vw;
      }
      @include desktop {
        font-size: 3.69vw;
      }
      @include desktopLarge {
        font-size: 4.5rem;
      }
    }
  }
  &--user {
    @include mobile-only {
      align-items: center;
    }
    @include desktop {
      justify-content: flex-end;
    }
  }
  &__title--user {
    @include mobile-only {
      font-size: 11.5vw;
    }
    @include tablet-only {
      font-size: 10vw;
    }
    @include mobile-and-tablet {
      // text-align: right;
    }
  }
  &__firstWord--user {
    display: block;
  }
}
