@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.details {
  //   @include filterWhiteToColour;
  // EDIT
  // color: $button-colour;
  color: $black;
  // END EDIT
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 1rem;
  &--film {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @include desktop {
      // EDIT
      background-color: $white;
      border: 3px solid $button-colour;
      // background-color: $white;
      color: $black;

      // color: $white;
      // background-color: $button-colour;
      // END EDIT
      overflow: hidden;
    }
    @include mobile-and-tablet {
      background-color: $white;
      // color: $black;
    }
  }
  &--user {
    @include desktop {
      font-weight: 500;
      justify-content: flex-start;
      padding: 0;
      background-color: $white;
      color: $hover-colour;
    }

    @include mobile-and-tablet {
      padding: 0.5rem;
      background-color: $hover-colour;
      color: $white;
      font-weight: 500;
    }
  }

  &__top {
    @include filterWhiteToColour;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
    & li {
      text-decoration: none;
      margin: 0;
    }
  }
  &__role {
    font-weight: 500;
    color: $button-colour;
    @include mobile-and-tablet {
      max-width: 60%;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
  }
  &__production {
    text-align: right;
  }
  &__length {
    @include mobile-only {
      display: none;
    }
  }
  &__image {
    max-height: 2rem;
    max-width: calc(5rem + 5%);
    transition: transform 0.5s;
    display: block;
    @include tablet-only {
      max-width: calc(3rem + 5%);
      max-height: 3rem;
    }
    &:hover {
      transform: scale(1.1);
      filter: none;
    }
  }
  &__bio {
    margin: 0.5rem 0;
    &--user {
      margin: 0;
      // text-align: right;
    }
    @include mobile-only {
      font-size: 2.8vw;
    }
    @include tablet {
      font-size: 2.5vw;
    }
    @include desktop {
      font-size: 1.6vw;
    }
    &--extra-short {
      @include mobile-only {
        font-size: 1.5rem;
      }
      @include tablet-only {
        font-size: 2.25rem;
      }
      @include desktop {
        font-size: 2.2vw;
      }
      @include desktopLarge {
        font-size: 3rem;
      }
    }
    &--short {
      @include mobile-only {
        font-size: 3vw;
      }
      @include tablet-only {
        font-size: 1.75rem;
      }
      @include desktop {
        font-size: 2vw;
      }
      @include desktopLarge {
        font-size: 2.5rem;
      }
    }
    &--extra-long {
      @include tablet-only {
        font-size: 1rem;
        &--user {
          font-size: 2.5vw;
        }
      }
      @include desktop {
        font-size: 1.45vw;
      }
      @include desktopLarge {
        font-size: 1.75rem;
      }
    }
  }
}
