@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
  background-color: $white;
  border-bottom: 3px solid $transparent-colour-2;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  &.fixedToTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  // fixed scroll animation end
  &__container {
    // padding-top: 1rem;
    @include screenWidth;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 1.5rem;
    @include mobile-only {
      padding: 1rem calc(5%);
    }
  }
  &__secondary-menu {
    @include tablet {
      display: none;
      height: fit-content;
      bottom: 0 !important;
      &.active {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: unset;
        margin: 0;
        width: 225%;
        position: absolute;
        @include fadeAndMove(0.5s, 50%, 45%, 50%, 50%);
        bottom: 0;
        left: -175%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        opacity: 0;
      }
    }
  }

  &__menu {
    padding-left: 0;
    margin: 0;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    @include mobile-only {
      display: block;
      z-index: 5;
      position: fixed;
      top: -150%;
      left: 0;

      // top: 0;
      // left: -150%;
      background-color: $bg-light;
      width: 100%;
      transition: all 0.25s ease-in-out;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      height: calc(100% - 3.5rem);
      padding-top: 3.5rem;
      &.active {
        top: 0;
        left: 0;
        @include fadeTop;
        .header__item--film:nth-child(n) {
          @include fadeRight;
          // TARGETS THE LIST
        }
      }
    }
  }
  &__item {
    list-style-type: none;
    margin: 0;
    @include mobile-only {
      margin: 2rem 0 0 2.5rem;
      &--film {
        margin: 0.5rem 2.5rem;
      }
    }
    &--alt {
      position: relative;
    }
  }
  &__link {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: $size-sub;
    padding: 0;
    font-weight: 400;
    color: $darkest-colour;
    transition: color 0.5s;
    cursor: pointer;

    &--contact,
    &--about {
      @include underline(-0.5rem);
    }
    &:hover,
    &.active {
      color: $hover-colour;
    }
    &--alt.active,
    &--contact.active,
    &--about.active {
      @include line(-0.5rem);
    }
    &--alt {
      width: fit-content;
      text-decoration: none;
      font-size: $size-sub;
      font-weight: 400;
      color: $darkest-colour;
      transition: color 0.5s;
      display: flex;
      flex-direction: row;
      position: relative;
      @include tablet {
        // margin: 1.5rem 2rem; THIS IS TO MINIMISE SIZE SO SCREEN SPACE IS ENLARGED
        margin: 1rem 2rem;
      }
      //   &:hover {
      //     // cursor: unset;
      //     // color: unset;
      //   }
    }
  }
  &__logo {
    height: 3rem;
    width: auto;
    position: relative;
    z-index: 6;
    @include filterWhiteToColour;
  }
  &__p {
    margin: 0.5rem 0.5rem;
    text-align: center;
    @include mobile-only {
      text-align: left;
    }
  }
  &__link--film {
    font-size: calc(0.95rem + 1%);
    &:hover,
    &.active {
      font-weight: 500;
    }
    @include mobile-only {
      position: relative;
      &::before {
        content: " ";
        width: 150px;
        height: 10px;
        border-bottom: 2px solid;
        position: absolute;
        top: -0.2rem;
        font-size: 2rem;
        left: -155px;
      }
    }
  }
  &__inner {
    @include tablet {
      position: absolute;
      height: fit-content;
      background: $white;
      border: 2px solid $darkest-colour;
      top: 0;
    }
  }
}

.header__arrow-open-close {
  position: relative;
  width: 15px;
  height: 20px;

  &:before,
  &:after {
    transition: 0.15s all ease-in-out;
    position: absolute;
    content: "";
    width: 60%;
    height: 2.5px;
    background: $hover-colour;
    top: 50%;
    border-radius: 5px;
  }

  &:before {
    transform: rotate(150deg);
    left: 0;
  }
  &:after {
    transform: rotate(-150deg);
    right: 0;
  }
}

.header__arrow {
  @include mobile-only {
    display: none;
  }
  position: absolute;
  //   @include mobile-and-tablet {
  //     right: -1.5rem;
  //   }
  right: -2rem;
  top: 0.25rem;
  width: 50%;
  max-width: 80px;

  .header__arrow-open-close {
    float: left;
  }

  &.hide-toggle {
    .header__arrow-open-close {
      &:before {
        transform: rotate(210deg);
        left: 0;
      }
      &:after {
        transform: rotate(-210deg);
        right: 0;
      }
    }
  }
}
