@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
  background-color: white;
  border-bottom: 2px solid $darkest-colour;

  //   fixedscroll animation start
  z-index: 10;
  transition: all 0.5s ease-in-out;
  &.fixedToTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  // fixed scroll animation end
  &__container {
    padding-top: 1rem;
    @include screenWidth;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 1.5rem;
    @include mobile-only {
      padding: 1rem calc(5%);
    }
  }
  &__secondary-menu {
    @include tablet {
      display: none;

      &.active {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: unset;
        margin: 0;
        @include modal;
        // positioned to align with header border-bottom
        // RELATIVE TO header__link--alt margins
        top: -0.875rem;
        //
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        width: 50%;
        opacity: 0;
        background-color: white;
        border: 2px solid $darkest-colour;
        // border-top: 0;
        // border-top: 2px solid $darkest-colour;
        @include fadeAndMove(0.5s, 50%, 45%, 50%, 50%);
      }
    }
  }

  &__menu {
    padding-left: 0;
    margin: 0;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include mobile-only {
      display: block;
      z-index: 1;
      position: fixed;
      top: -100%;
      left: 0;

      background-color: $bg-dark;
      width: 100%;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      height: calc(100% - 5.5rem);
      padding-top: 5rem;
      &.active {
        top: 0;
      }
    }
  }
  &__item {
    list-style-type: none;
    margin: 0;
    @include mobile-only {
      margin: 2.5rem;
    }
  }
  &__link {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: $size-sub;
    padding: 0;
    font-weight: 400;
    color: $darkest-colour;
    transition: color 0.5s;
    cursor: pointer;
    @include underline(-0.5rem);
    &:hover,
    &.active {
      color: $hover-colour;
    }
    &.active {
      @include line(-0.5rem);
    }
    &--alt {
      width: fit-content;
      text-decoration: none;
      font-size: $size-sub;
      font-weight: 400;
      color: $darkest-colour;
      transition: color 0.5s;
      display: flex;
      flex-direction: row;
      position: relative;
      @include tablet {
        margin: 1.5rem 2rem;
      }
      //   &:hover {
      //     // cursor: unset;
      //     // color: unset;
      //   }
      &.active {
        @include line(-0.5rem);
      }
    }
  }
  &__logo {
    height: 4rem;
    width: auto;
    position: relative;
    z-index: 5;
  }
}

.header__arrow-open-close {
  position: relative;
  width: 15px;
  height: 20px;

  &:before,
  &:after {
    transition: 0.15s all ease-in-out;
    position: absolute;
    content: "";
    width: 60%;
    height: 2.5px;
    background: $hover-colour;
    top: 50%;
    border-radius: 5px;
  }

  &:before {
    transform: rotate(150deg);
    left: 0;
  }
  &:after {
    transform: rotate(-150deg);
    right: 0;
  }
}

.header__arrow {
  @include mobile-only {
    display: none;
  }
  position: absolute;
  //   @include mobile-and-tablet {
  //     right: -1.5rem;
  //   }
  right: -2rem;
  top: 0.25rem;
  width: 50%;
  max-width: 80px;

  .header__arrow-open-close {
    float: left;
  }

  &.hide-toggle {
    .header__arrow-open-close {
      &:before {
        transform: rotate(210deg);
        left: 0;
      }
      &:after {
        transform: rotate(-210deg);
        right: 0;
      }
    }
  }
}
