@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
  // border-bottom: 3px solid $transparent-colour;

  zoom: 0.85;
  z-index: 10;
  position: relative;
  // transition: position 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &.fixedToTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $transparent-colour-2;
    @include tablet {
      backdrop-filter: blur(8px);
    }
  }
  &.active {
    backdrop-filter: none;
  }
  // fixed scroll animation end
  &__container {
    // padding-top: 1rem;
    @include screenWidth;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 1.5rem;
    @include mobile-only {
      padding: 1rem calc(5%);
    }
  }
  &__secondary-menu {
    padding-left: 0.25rem;
    @include tablet {
      display: none;
      height: fit-content;
      bottom: 0 !important;
      &.active {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: unset;
        margin: 0;
        width: 225%;
        position: absolute;
        @include fadeAndMove(0.5s, 50%, 45%, 50%, 50%);
        bottom: 0;
        left: -175%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        opacity: 0;
      }
    }
  }

  &__menu {
    padding-left: 0;
    margin: 0;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    @include mobile-only {
      display: block;
      z-index: 5;
      position: fixed;
      top: -150%;
      left: 0;
      background-color: $transparent-colour-2;
      backdrop-filter: blur(16px);
      width: 100%;
      transition: all 0.25s ease-in-out;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      height: calc(100% - 3.5rem);
      padding-top: 3.5rem;
      &.active {
        top: 0;
        left: 0;
        @include fadeTop;
        .header__item--film:nth-child(n) {
          @include fadeRight;
          // TARGETS THE LIST
        }
        transition: background-color 0.5s;
      }
    }
  }
  &__item {
    list-style-type: none;
    margin: 0;
    @include mobile-only {
      margin: 1rem 0 0 2.5rem;
      &--film {
        margin: 0.5rem 2.5rem;
      }
    }

    &--alt {
      position: relative;
    }
  }
  &__link {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: $size-sub;
    padding: 0;
    font-weight: 400;
    color: $black;

    transition: color 0.15s;
    cursor: pointer;
    @include mobile-only {
      color: $black;
      font-weight: 500;
      font-size: 1rem;
    }
    &--contact,
    &--about {
      @include underline(-0.5rem);
    }
    &:hover,
    &.active {
      color: $hover-colour;
      @include mobile-only {
        color: $hover-colour;
      }
    }
    &--alt.active,
    &--contact.active,
    &--about.active {
      @include line(-0.5rem);
    }
    &--alt {
      width: fit-content;
      text-decoration: none;
      font-size: $size-sub;
      font-weight: 400;
      color: $black;
      transition: color 0.5s;
      display: flex;
      flex-direction: row;
      position: relative;
      @include mobile-only {
        font-size: 1rem;
      }
      @include tablet {
        // margin: 1.5rem 2rem; THIS IS TO MINIMISE SIZE SO SCREEN SPACE IS ENLARGED
        margin: 1.5rem 2rem;
        // background-color: $white;
      }
      //   &:hover {
      //     // cursor: unset;
      //     // color: unset;
      //   }
    }
  }
  &__left {
    text-decoration: none;
  }
  &__logo {
    font-size: 3rem;
    // background-image: url(../../assets/images/background.png);
    // -webkit-text-stroke-width: 1px;
    // color: $white;
    color: $hover-colour;
    // -webkit-text-stroke-color: $hover-colour;
    // @include underline(-0.5rem);
    // text-shadow: 10px 10px 0 $hover-colour, -10px 10px 0 $hover-colour,
    //   -10px -10px 0 $hover-colour, 10px -10px 0 $hover-colour;
    transition: all 0.25s;
    @include tablet {
      padding: 0.5rem 0 0 0;
    }
    @include mobile-only {
      font-size: 8.5vw;
      .header.active & {
        text-shadow: none;
        color: $hover-colour;
      }
    }
    @include tablet-only {
      font-size: 5vw;
    }
    font-weight: 500;
    letter-spacing: 1.75px;
    margin: 0 0 0.5rem 0;
    width: auto;
    position: relative;
    z-index: 6;
    // @include filterWhiteToColour;
    // color: $hover-colour;
    &:hover {
      text-shadow: none;
      color: $button-colour;
    }
  }
  &__p {
    margin: 0.5rem 0.5rem;
    text-align: center;
    @include mobile-only {
      text-align: left;
      margin: 0rem 0.25rem;
    }
  }
  &__link--film {
    font-size: calc(0.95rem + 1%);
    &:hover,
    &.active {
      font-weight: 500;
    }
    @include mobile-only {
      position: relative;
      font-size: 0.8rem;

      // &::before {
      // content: " ";
      // width: 150px;
      // height: 10px;
      // border-bottom: 2px solid;
      // position: absolute;
      // top: -0.2rem;
      // font-size: 2rem;
      // left: -155px;
      // }
    }
  }
  &__inner {
    @include mobile-only {
      margin-top: 0rem;
    }
    @include tablet {
      position: absolute;
      height: fit-content;
      background: $white;

      top: 0;
    }
  }
}

.header__arrow-open-close {
  position: relative;
  width: 15px;
  height: 20px;

  &:before,
  &:after {
    transition: 0.15s all ease-in-out;
    position: absolute;
    content: "";
    width: 60%;
    height: 2.5px;
    background: $hover-colour;
    top: 50%;
    border-radius: 5px;
  }

  &:before {
    transform: rotate(150deg);
    left: 0;
  }
  &:after {
    transform: rotate(-150deg);
    right: 0;
  }
}

.header__arrow {
  @include mobile-only {
    display: none;
  }
  position: absolute;
  //   @include mobile-and-tablet {
  //     right: -1.5rem;
  //   }
  right: -2rem;
  top: 0.25rem;
  width: 50%;
  max-width: 80px;

  .header__arrow-open-close {
    float: left;
  }

  &.hide-toggle {
    .header__arrow-open-close {
      &:before {
        transform: rotate(210deg);
        left: 0;
      }
      &:after {
        transform: rotate(-210deg);
        right: 0;
      }
    }
  }
}
