@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.carousel {
  width: 100%;
  overflow: hidden;
  @include mobile-and-tablet {
    border: 5px solid $hover-colour;
    background-color: $transparent-colour;
  }
  &--user {
    position: relative;
    z-index: 2;
    @include desktop {
      background-color: $transparent-colour;
    }
  }
  &__slide {
    height: 100%;
  }
  &__content {
    @include mobile-and-tablet {
      color: black !important;
      font-weight: 500 !important;
    }
    padding: 1rem;
    height: calc(100% - 5rem);
  }
  &__content--nomination,
  &__content--insta {
    padding: 2rem 1rem 0rem 1rem;
  }
  &__content--nomination {
    @include filterWhiteToColour;
  }
  &__content--nomination,
  &__content--collaborators,
  &__content--description,
  &__content--insta {
    display: flex;
    align-items: center;
  }
  &__content--collaborators,
  &__content--description {
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
  }
  // &__content--collaborators {
  //  //WRITE CODE
  // }
  &__content--review {
    padding: 1rem;
    margin: 1rem;
  }
  &__nomination {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    height: calc(100% - 10px);
    width: 100%;
  }

  &__content--review {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    &--first {
      margin-top: 1rem;
    }
  }
}

.slick {
  &-arrow,
  &-dots {
    @include filterWhiteToColour;
  }
  &-arrow {
    display: none !important;
  }
  &-slider {
    height: 100%;
    display: block !important;
  }
  //   controls placement of dots
  &-dots {
    bottom: 0.25rem;
  }
  &-dots li,
  &-dots button {
    border: none !important;
    margin: 0 0.2rem;
  }
  //   CONTROLS THE HEIGHT / (VIEW) OF THE CAROUSEL - RELATED TO THE PADDING OF CAROUSEL__CONTENT
  &-list,
  &-track,
  &-slide.slick-active.slick-current > div:first-child,
  &-slide > div:first-child {
    height: 100% !important;
  }
}

// controls the border movement - .nomination is on the individual article
.carousel__content--description,
.carousel__content--review,
.carousel__content--collaborators {
  position: relative;
  // @include filterWhiteToColour;
  &:hover {
    filter: none;
  }
  &::before,
  &::after,
  div::before,
  div::after,
  article::before,
  article::after {
    content: "";
    position: absolute;
    width: calc(25% / 2);
    height: calc(25% / 2);
    background: transparent;
    transition: 1s;
  }

  &::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid $hover-colour;
    border-left: 2px solid $hover-colour;
  }
  &::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid $hover-colour;
    border-right: 2px solid $hover-colour;
  }

  article::before,
  div::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid $hover-colour;
    border-left: 2px solid $hover-colour;
  }
  article::after,
  div::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid $hover-colour;
    border-right: 2px solid $hover-colour;
  }

  &:hover::before,
  &:hover::after,
  &:hover article::before,
  &:hover article::after,
  &:hover div::before,
  &:hover div::after {
    width: calc(50% / 2);
    height: calc(50% / 2);
  }
}

.carousel__content--nomination,
.carousel__content--insta {
  position: relative;

  &:hover {
    filter: none;
  }
  z-index: 0;
  &::before,
  &::after,
  div::before,
  div::after {
    content: "";
    position: absolute;
    width: calc(25% / 2);
    height: calc(25% / 2);
    background: transparent;
    transition: 1s;
  }

  &::before {
    top: 14px;
    left: 15px;
    border-top: 2px solid $hover-colour;
    border-left: 2px solid $hover-colour;
  }
  &::after {
    top: 14px;
    right: 15px;
    border-top: 2px solid $hover-colour;
    border-right: 2px solid $hover-colour;
  }

  .carousel__nomination::before {
    bottom: -18px;
    left: 15px;
    border-bottom: 2px solid $hover-colour;
    border-left: 2px solid $hover-colour;
  }

  .carousel__nomination::after {
    bottom: -18px;
    right: 15px;
    border-bottom: 2px solid $hover-colour;
    border-right: 2px solid $hover-colour;
  }

  &:hover::before,
  &:hover::after,
  &:hover div::before,
  &:hover div::after {
    width: calc(50% / 2);
    height: calc(50% / 2);
  }
}
