@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  z-index: 0;
  background-color: $darkest-colour;
  color: white;
  //   position: sticky;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  &__container {
    @include screenWidth;
  }

  &__list {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: fit-content;
    @include tablet {
      width: 30%;
    }
    margin: auto;
    padding-left: 0;
  }
  &__list-item {
    list-style-type: none;
  }

  &__icon {
    height: 1.5rem;
    width: auto;
    transition: filter 0.5s ease;
    &:hover {
      filter: brightness(0) saturate(100%) invert(15%) sepia(76%)
        saturate(4578%) hue-rotate(333deg) brightness(86%) contrast(91%);
    }
  }
  &__branding {
    text-align: center;
    padding: 0;
    margin: 0.5rem 0 0 0;
    font-size: $size-text;
  }
}
