@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  // position: relative;
  z-index: 0;
  // background-color: $black;
  color: $white;
  position: absolute;
  // bottom: 0;
  width: 100%;
  padding: 1rem 0;
  @include desktop {
    margin-top: 0.5rem;
  }
  height: 3rem;
  &__container {
    @include screenWidth;
  }

  &__list {
    background-color: $white;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: fit-content;
    @include tablet {
      width: 30%;
    }
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }
  &__list-item {
    list-style-type: none;
  }

  &__icon {
    height: 1.5rem;
    width: auto;
    // transition: filter 0.15s ease;

    filter: invert(1);
    &:hover {
      @include filterWhiteToColour;
    }
  }
  &__branding {
    text-align: center;
    padding: 0 0.5rem;
    margin: auto;
    font-size: $size-text;
    width: fit-content;
    color: $black;
    background-color: $white;
  }
}
