@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  // background-color: $transparent-colour;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: clip;

  &__main {
    @include screenWidth;
    // background-color: $transparent-colour-2;
  }

  &__section > &__undercolour {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-image: url("../src/assets/images/background.png");
    background-size: 25%;
    background-color: $bg-light;
    mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 30%,
      transparent 70%,
      rgba(255, 255, 255, 0.2) 100%
    );
    @include tablet {
      mask-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.2) 0%,
        transparent 30%,
        transparent 70%,
        rgba(255, 255, 255, 0.2) 100%
      );
    }

    // filter: bright(0.8);
    @include fade(0.25s);
    // background-color: $bg-light;
  }

  &__section {
    margin-top: 1rem;
  }

  &__section--about {
    @include desktop {
      margin-bottom: 1rem;
    }
  }
}

// fixedscroll animation
.header.fixedToTop + .app__main,
.header.fixedToTop + .app__about {
  @include mobile-only {
    margin-top: 5.2rem;
  }
  margin-top: 3.5rem;
}
.header.fixedToTop + .app__main > .app__section {
  margin-top: 4.5rem;

  @include mobile-only {
    margin-top: 6.2rem;
  }
}

.loading {
  width: 100vh;
  height: 100vh;
}
