@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  // background-color: $bg-dark;
  position: relative;
  height: 100vh;
  &__main {
    @include screenWidth;
  }

  &__section {
    display: none;

    &.active {
      display: block;
      padding: 1rem 0;
    }
  }
  &__undercolour {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    // background-color: $bg-light;
  }
}

// fixedscroll animation
.header.fixedToTop + .app__main {
  @include mobile-only {
    margin-top: 6.2rem;
  }
  margin-top: 4.5rem;
}
