@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  background-color: $bg-light;
  height: 100vh;
  &__main {
    @include screenWidth;
  }

  &__section {
    display: none;

    &.active {
      display: block;
    }
  }
}
