@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  // background-color: $white;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: clip;
  &__main {
    @include screenWidth;
    &--flex {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100% - 5rem);
    }
  }
  &__section > &__undercolour {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    // background-color: $bg-light;
    @include tablet {
      @include dottedBackground(2, 45);
    }
  }

  &__section {
    margin-top: 1rem;
  }

  &__section--about {
    @include desktop {
      margin-bottom: 1rem;
    }
  }
  &__about {
    @include desktop {
      height: 100%;
      &.active {
        height: auto;
        min-height: 100%;
      }
    }
  }
}

// fixedscroll animation
.header.fixedToTop + .app__main,
.header.fixedToTop + .app__about {
  @include mobile-only {
    margin-top: 5.2rem;
  }
  margin-top: 3.5rem;
}
.header.fixedToTop + .app__main > .app__section {
  margin-top: 4.5rem;

  @include mobile-only {
    margin-top: 6.2rem;
  }
}
